body {
  margin: 0;
  overflow: hidden;
}

canvas {
  position: relative;
  top: 60px;
  /* background-image: radial-gradient(#666, #333); */
  width: 500px;
  height: 300px;
  background: gray;
}

#instructions {
  position: absolute;
  color: red;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}
