
.parallax-effect-cella {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 900px;
      height: 600px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center ;
      background-image:url('../../assests/images/ML1.png') ;
      box-shadow:  5px 10px 28px 5px #2a9d8f;

      border-radius: 20px;

      transform-style: preserve-3d;

      .div-cella{
        position: absolute;
        bottom:180px;
        right:-45px;
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
  }


  .inner-element {
        position: absolute;
        bottom:-200px;
        right:0;
        line-height: 32px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: right;
          font-size: 35px;
          font-style: italic;
          color: black;
          transform: translateZ(60px);
          .text-cella{
            font-size: 20px;
            text-align: left;
            position: relative;
            left:-130px;

        }
        a{
          color:#094D62;
          font-size: 40px;
          text-align: center;
          position:relative;
          left:-100px;
        }
  }
    }


// ===========================


@media (max-width: 575.98px) {

  .parallax-effect-cella {

    margin-top: -80px;
    margin-bottom: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center ;
    background-image:url('../../assests/images/ML1.png') ;
    box-shadow: 1px 4px 18px 2px #2a9d8f;

    color: white;
    // border: 5px solid black;
    border-radius: 5px;

    transform-style: preserve-3d;
    .div-cella{
      transform: scale(0.3);
          position: absolute;
          bottom:105px;
          right:-60px;
            display: flex;
            flex-direction: rows;
            justify-content: flex-end;
            transform-style: preserve-3d;
    }


    .inner-element {

          position: absolute;
          bottom:-130px;
          right:0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: right;
            font-size: 15 px;
            font-style: italic;
            color: black;
            line-height: 15px;
            transform: translateZ(60px);
            transform-style: preserve-3d;
            .text-cella{
              font-size: 10px;
              text-align: left;
              position: relative;
              left:0px;
          }
          a {
            color:#094D62;
            font-size: 15px;
            text-align: center;
            left:0px;
            position:positive;
          }

    }


  }


}