
.parallax-effect-cella {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 900px;
      height: 600px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center ;
      background-image:url('../../assests/images/cella2.png') ;

      // color: white;
      // border: 5px solid black;
      border-radius: 20px;

      transform-style: preserve-3d;

      .div-cella{
        position: absolute;
        bottom:60px;
        right:-60px;
    display: flex;
    flex-direction: rows;
    justify-content: flex-end;
  }


  .inner-element {
        position: absolute;
        bottom:-30px;
        right:0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: right;
          font-size: 35px;
          font-style: italic;
          color: black;
          transform: translateZ(60px);
  }
    }