

.parallax-effect-jos {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 900px;
      height: 600px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center ;
      background-image:url('../../assests/images/JOS.png') ;
      box-shadow: 5px 10px 28px 5px #2a9d8f;
      color: black;

      border-radius: 100px;

      transform-style: preserve-3d;
      .div-jos{
            position: absolute;
            bottom:100px;
            right:-60px;
        display: flex;
        flex-direction: rows;
        justify-content: flex-end;
      }

      .inner-element {
            position: absolute;
            bottom:-50px;
            right:0;
            line-height: 32px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: right;
              font-size: 35px;
              font-style: italic;
              color: black;
              transform: translateZ(60px);
      }
    }

/* On screens that are 600px or less, set the background color to olive */
//